<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <property name="DEV_HOME" value="c:/logs" />

    <appender name="FILE-AUDIT"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>C:/tmp/service.log</file>
        <maxHistory>10</maxHistory>
        <TimeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
            <maxFileSize>50MB</maxFileSize>
        </TimeBasedFileNamingAndTriggeringPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy.MM.dd - HH:mm:ss.SSS} [%thread] %-5level  reqID: [%X{reqID}] %logger{36} - %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${DEV_HOME}/archived/debug.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="lg_error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>C:/tmp/error.log</file>
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.destination}errors.log-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <maxHistory>10</maxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy.MM.dd - HH:mm:ss.SSS} [%thread] %-5level  reqID: [%X{reqID}] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.mkyong.web" level="debug"
            additivity="false">
        <appender-ref ref="FILE-AUDIT" />
    </logger>

    <root level="debug">
        <appender-ref ref="FILE-AUDIT" />
        <appender-ref ref="lg_error" />

    </root>

</configuration>